# Byte-compiled / optimized / DLL files

.idea/
node_modules/
package-lock.json
__pycache__

# ts 的编译文件
runtime/**/*.js
convert_dev2scripts.js
convert_surge_curl2json.js
requests_and_responses/requests/parse_curl.js
requests_and_responses/requests/parse_echo.js

requests_and_responses/requests/curls/**/*.txt
requests_and_responses/requests/jsons/**/*.json
requests_and_responses/responses/**/*.json
requests_and_responses/responses/**/*.x