# Byte-compiled / optimized / DLL files

.idea/
node_modules/
package-lock.json
__pycache__

# ts 的编译文件
runtime/**/*.js

requests_and_responses/requests/curls/**/*.txt
requests_and_responses/requests/jsons/**/*.json
requests_and_responses/responses/**/*.json