{
    "url": "https://api.live.bilibili.com/xlive/web-room/v1/giftPanel/giftConfig?platform=pc&room_id=23017349&area_parent_id=9&area_id=371",
    "method": "GET",
    "data": null,
    "headers": {
        "authority": "api.live.bilibili.com",
        "sec-ch-ua": "\" Not A;Brand\";v=\"99\", \"Chromium\";v=\"90\", \"Google Chrome\";v=\"90\"",
        "accept": "application/json, text/plain, */*",
        "dnt": "1",
        "sec-ch-ua-mobile": "?0",
        "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36",
        "origin": "https://live.bilibili.com",
        "sec-fetch-site": "same-site",
        "sec-fetch-mode": "cors",
        "sec-fetch-dest": "empty",
        "referer": "https://live.bilibili.com/",
        "accept-language": "zh-CN,zh;q=0.9",
        "cookie": "_uuid=x; buvid3=x; LIVE_BUVID=x; PVID=x"
    }
}