curl 'https://api.live.bilibili.com/xlive/web-room/v1/giftPanel/giftConfig?platform=pc&room_id=23017349&area_parent_id=9&area_id=371'  -H 'authority: api.live.bilibili.com'  -H 'sec-ch-ua: " Not A;Brand";v="99", "Chromium";v="90", "Google Chrome";v="90"'  -H 'accept: application/json, text/plain, */*'  -H 'dnt: 1'  -H 'sec-ch-ua-mobile: ?0'  -H 'user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36'  -H 'origin: https://live.bilibili.com'  -H 'sec-fetch-site: same-site' -H 'sec-fetch-mode: cors'  -H 'sec-fetch-dest: empty'  -H 'referer: https://live.bilibili.com/'   -H 'accept-language: zh-CN,zh;q=0.9' -H 'cookie: _uuid=x; buvid3=x; LIVE_BUVID=x; PVID=x'  --compressed